@model ICollection<MemoriKeeper.Model.Models.Diaryentry>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h5 class="text-center">Memories</h5>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-sm btn-outline-primary" asp-controller="Diaryentry" asp-action="Create">Create Memory</a>
    </div>
</div>
<div class="row mt-4">
    @foreach (var memory in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow" style="height: 482px">
                <div class="card-header">
                    <h5 class="card-title text-center">@memory.Title</h5>
                </div>
                <img src="~/upload_images/@memory.Attachment.FilePath" class="card-img-top" alt="..." height="200px">
                <div class="card-body">
                    <p class="card-text text-start">
                        @Html.Raw(memory.Description.Length > 150 ? memory.Description.Substring(0, 150) + @"<br><br> Read more to click details. " : memory.Description)
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-sm btn-outline-info" asp-controller="Diaryentry" asp-action="Details" asp-route-id="@memory.Id">Details</a>
                    <a class="btn btn-sm btn-outline-danger" asp-controller="Diaryentry" asp-action="Delete" asp-route-id="@memory.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
